:root {
  /* Color */
  --light-cool-blue: rgb(184, 227, 233);
  --dusty-blue: #93b1b5;
  --slate-teal: #4f7c82;
  --dark-charcoal: rgb(11, 46, 51);

  /* Font Style */
  --primary-font: "Oswald", sans-serif;
  --secndary-font: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-weight: 400;

  background-color: #000;
  overflow-x: hidden;
  overflow: hidden;
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  color: var(--light-cool-blue);
}
