.inner-divider-half {
  height: 50px;
}
.inner-divider-half {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: none;
  z-index: -1;
}

.margin-sm {
  margin: 2rem;
}
.margin-m {
  margin: 4rem;
}
.margin-lg {
  margin: 8rem;
}
.margin-xl {
  margin: 12rem;
}
.margin-xxl {
  margin: 16rem;
}
